<% if @cohort.errors.any? %>
  <ul>
    <% @cohort.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group well">
  <%= form_for(@cohort, class: "form-horizontal") do |f| %>
    <div class="control-group">
      <%#= f.label :title %>
      <%= f.text_field :title, placeholder: "Title", class: "form-control input-lg" %>
    </div>
    <br>
    <div class="control-group">
      <%#= f.label :details %>
      <%= f.text_field :details, placeholder: "Details", class: "form-control input-lg" %>
    </div>
    <br>
    <div class="control-group">
      <%= f.submit "Create Cohort", class: "form-control btn btn-cc" %>
    </div>
  <% end %>
</div>