<div class="user-container well">
  <h2>Sign Up</h2>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button class="close" data-dismiss="alert">×</button>
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%#= f.label :first_name %>
      <div class="input-group input-group-md">
        <span class="input-group-addon"><i class="fa fa-user fa-input"></i></span>
        <div class="icon-addon addon-md">
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%#= f.label :last_name %>
      <div class="input-group input-group-md">
        <span class="input-group-addon"><i class="fa fa-user-plus fa-input"></i></span>
        <div class="icon-addon addon-md">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%#= f.label :email %>
      <div class="input-group input-group-md">
        <span class="input-group-addon"><i class="fa fa-envelope fa-input"></i></span>
        <div class="icon-addon addon-md">
          <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%#= f.label :password %>
      <div class="input-group input-group-md">
        <span class="input-group-addon"><i class="fa fa-unlock-alt fa-input"></i></span>
        <div class="icon-addon addon-md">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%#= f.label :password_confirmation %>
      <div class="input-group input-group-md">
        <span class="input-group-addon"><i class="fa fa-lock fa-input"></i></span>
        <div class="icon-addon addon-md">
          <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-cc" %>
    </div>
  <% end %>
</div>