<div class="col-sm-4 profile-item">
  <a href="#profileModal_<%= dom_id(contact) %>" class="profile-link" data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
  </a>
</div>

<!-- Profile Modal -->
<div id="profileModal_<%= dom_id(contact) %>" class="profile-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
     <a id="menu-close" href="#" class="btn btn-light btn-xs pull-right toggle"><i class="fa fa-times fa-4x"></i></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="modal-body col-md-12">
            <h2><%= contact.full_name %></h2>
            <hr>
            <div class="col-md-4">
              <img src="http://fillmurray.com/325/400" class="img-responsive img-centered" alt="">
              <!-- Edit and Delete Buttons -->
              <% if contact.user_id == current_user.id %>
                <div class="profile-buttons">
                  <%= link_to(edit_cohort_contact_path(@cohort, contact)) do %>
                  <button type="button" class="btn btn-success btn-xs"><i class="fa fa-check-square-o"></i> Edit</button>
                <% end %>
                <%= link_to(cohort_contact_path(@cohort, contact), method: :delete) do %>
                  <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                <% end %>
                </div>
              <% end %>
            </div>
            <div class="col-md-8">
              <table class="up-close">
                <tr>
                  <td><h4>Name: </h4></td>
                  <td><%= contact.full_name %></td>
                </tr>
                <tr>
                  <td><h4>Company: </h4></td>
                  <td><%= contact.company %></td>
                </tr>
                <tr>
                  <td><h4>Position: </h4></td>
                  <td><%= contact.position %></td>
                </tr>
                <tr>
                  <td><h4>Project:</h4></td>
                  <td><%= contact.project %></td>
                </tr>
                <tr>
                  <td><h4>Profile:</h4></td>
                  <td>
                    <%= contact.other %> 
                  </td>
                </tr>
              </table>
              <ul class="list-inline item-details">
                <li><strong>Phone: </strong><%= contact.phone %></li>
                <li><strong>Email: </strong><%= contact.user.email %></li>
                <li><strong>Website: </strong><%= contact.website %></li>
                <li><strong>GitHub: </strong><%= contact.github %></li>
                <li><strong>LinkedIn: </strong><%= contact.linkedin %></li>
              </ul>
            </div>
          </div><!-- modal body -->
        </div>
      </div><!-- row -->
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div> <!-- container -->
  </div> <!-- modal content -->
</div> <!-- #profileModal_... -->